[Unit]
Description=rsnapshot %I user service
ConditionPathExists=%h/.config/rsnapshot/rsnapshot.conf

[Service]
Type=simple

# Sandboxing
NoNewPrivileges=true
ProtectSystem=strict
PrivateTmp=true

# Resource usage:
Slice=background.slice

CPUSchedulingPolicy=idle
Nice=19
IOSchedulingClass=idle

RuntimeMaxSec=1h
MemoryHigh=33%
MemoryMax=50%
TasksMax=100

# lets be easily killed:
OOMScoreAdjust=500

# Accept partial success with warnings as success:
SuccessExitStatus=2

# patchmanager preload causes high load on many concurrent accesses, lets disable
Environment=NO_PM_PRELOAD=1

# path to main config file. If you change this, note the ConditionPathExists line above, AND the asserts in the related unit files!
Environment=RS_CONFIG_FILE=%h/.config/rsnapshot/rsnapshot.conf

# enable overrides:
EnvironmentFile=-/var/lib/environment/rsnapshot/*.conf
EnvironmentFile=-%h/.config/systemd/user/%N.env

ExecStartPre=/usr/bin/rsnapshot -q -c ${RS_CONFIG_FILE} configtest
ExecStart=/usr/bin/rsnapshot -c ${RS_CONFIG_FILE} %I

# Notify the user:
#ExecStartPost=-/usr/bin/notificationtool -o add  -A "rsnapshot" -I "icon-lock-backup" --urgency=0 --timeout=0 --category="transfer"          -h "image-path icon-m-storage" "Creating Snapshot" "Scheduled %I snapshot started" "Creating Snapshot" "Scheduled %I snapshot started"
ExecStopPost=-/usr/bin/notificationtool  -o add  -A "rsnapshot" -I "icon-lock-backup" --urgency=0 --timeout=0 --category="transfer.complete" -h "image-path icon-m-storage" "Snapshot created" "%I snapshot operation finished: ${SERVICE_RESULT}" "Snapshot created" "%I snapshot operation finished: ${SERVICE_RESULT}"
