[Unit]
Description=rsnapshot scheduler. Enabling or starting this will enable/start the necessary timers.
After=user-session.target
DefaultDependencies=no

AssertPathExists=%h/.config/rsnapshot/rsnapshot.conf

[Install]
Also=rsnapshot-user-daily.timer
Also=rsnapshot-user-monthly.timer
Also=rsnapshot-user-weekly.timer
